body{
    background-color: lightseagreen;
    padding: 1% 1% 1% 1%;

}

.counter{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
}

button{
    border-radius: 8px;
    font-weight: 700;


}

button:hover{
    background-color: burlywood;
}

#code{
    background-color: lightcyan;
}







