*{
    padding: 1% 1% 1% 1%;
}

body{

    background-color: rgb(243, 233, 233);
}

#regtForm{
    background-color: lightseagreen;
}

#parentDiv{
    background-color: lightseagreen;
}

#statesDiv{
    background-color: lightseagreen;
}

#cbcStatesDiv{
    background-color: rgba(156, 157, 190, 0.852);
}

#counterDiv{
    background-color: rgba(156, 157, 190, 0.852);
}

#contextApiDiv{
    background-color: rgba(156, 157, 190, 0.852);
}

form{
    width: 450px;
    height: fit-content;
    background-color: lightcoral;
    font-weight: 700;
}

label{
    background-color: inherit;

}

#headerMain{
    background-color: lightseagreen;

}

h2,nav,ul,li{
    background-color: inherit;
}




