*{

    

}


#div{
    width: 100%;
    height: fit-content;
}

#nav{
    width: 100%;
    height: fit-content;
    display: flex;

}


#ul{
    width: 90%;
    padding-left: 10px;
    height: fit-content;
    display: flex;
}

#li{
    
}


h4{
    width: 10%;
    height: fit-content;
}