*{
    background-color: lightsalmon;
    padding: 1% 4% 4% 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.Notes1{
    background-color: black;
    color: white;

}

h3,h4,p{
    background-color: black;
}






